<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="SPSvcAccount" value="dmn1\UserName" />
  <add key="SPSvcAccountPass" value="Pass" />
  <add key="CORSOrigins" value="http://mysite.mydomain.com" />
  <add key="CSOM_WCF_Port" value="89" />
  <add key="log4net.Internal.Debug" value="true" />
  <add key="ADMemberCountThreshold" value="50" />
  <add key="ExecWebstoProcess" value="http://url" />
  <add key="aspnet:AllowAnonymousImpersonation" value="false" />
  <add key="SitesConfiguredWithExecutiveWorkflow"
     value="http://url1,http://url1" />
  <add key="DelayInDaysConsoleAppWaitToLogError" value="1" />
  <add key="MaxDegreeOfParallelism" value="200" />
</appSettings>